# Binaries
oss-sync
oss-sync.exe
dist/

# SQLite state files
*.db
*.db-shm
*.db-wal

# Local configs with credentials
config.minio.yaml
config.local.yaml
config-handao-dev.yaml

# Runtime artifacts
*.out
core

# Go build cache
vendor/

# IDE
.idea/
.vscode/
*.swp
*.swo


config-handao-dev.yaml